.Wrong {
	border: 1px solid red;
	background-color: rgba(160,0,0,0.1);
}
.Correct {
	border : 1px solid green;
	background-color : rgba(0, 160, 0, 0.1);
}
.un-answered {
	border: 1px solid transparent;
}
.quizz-answers label {
	font-size: 16px;
	padding: 5px 10px;
	cursor: pointer;

}

.highlighthovered > a,
.highlighthovered > label,
.highlighthovered > li,
.highlighthovered > div {
	-moz-transition    : all 0.5s ease-in-out;
	-o-transition      : all 0.5s ease-in-out;
	-webkit-transition : all 0.5s ease-in-out;
	-ms-transition     : all 0.5s ease-in-out;
	transition         : all 0.5s ease-in-out;
}

.highlighthovered:hover > a,
.highlighthovered:hover > label,
.highlighthovered:hover > li,
.highlighthovered:hover > div {
	filter         : alpha(opacity = 50);
	-moz-opacity   : 0.5;
	-khtml-opacity : 0.5;
	opacity        : 0.5;
}

.highlighthovered:hover > .donthighlighthovered {
	filter         : alpha(opacity = 100);
	-moz-opacity   : 1;
	-khtml-opacity : 1;
	opacity        : 1;
}

.highlighthovered > a:hover,
.highlighthovered > label:hover,
.highlighthovered > li:hover,
.highlighthovered > div:hover {
	filter         : alpha(opacity = 100);
	-moz-opacity   : 1;
	-khtml-opacity : 1;
	opacity        : 1;
}
#pane {
	display: none;
	width: 90%;
	border: 1px solid #ccc;
	background-color: white;
	margin: auto;
	-webkit-box-shadow : 0 0 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow    : 0 0 20px rgba(0, 0, 0, 0.4);
	box-shadow         : 0 0 20px rgba(0, 0, 0, 0.4);
}
form, fieldset {
	margin-bottom: 0;
	padding-bottom: 0;
}
.form-actions {
	margin-bottom: 0;
}

form {
	padding-top: 20px;
}
.nr {
	font-size: 20px;
	color: #ccc;

}