
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page['meta']['title']|default:"" }}</title>
	<meta name="description" content="">
	<meta name="author" content="">


	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/min/css.{{_v}}.css"/>


	<script src="/ui/_js/libs/modernizr.{{_v}}.js"></script>


	{% if page['template_css'] %}
	<link rel="stylesheet" href="{{ page['template_css'] }}">
	{% endif %}


	<link rel="shortcut icon" type="image/x-icon" href="/ui/_images/favicon.ico">
	<link rel="apple-touch-icon" href="/ui/_images/apple-touch.png">


</head>
<body>
{% if page['template'] %} {% include page['template'] %} {% endif %}


<div id='systemTimers-container' class='modal hide fade'>
	<div class='modal-header'><a href='#' class='close' data-dismiss="modal">&times;</a>

		<h3>Debug</h3></div>
	<div class='modal-body'>
		<article>
			<table id='systemTimers'>

			</table>
		</article>
	</div>
	<div class='modal-footer'>

	</div>
</div>



<script src="/ui/_js/libs/jquery.{{_v}}.js"></script>


<script src="/min/js.{{_v}}.js"></script>
<script src="/ui/_js/plugins/bootstrap-typehead-array.{{_v}}.js"></script>



<script type="text/javascript">

	var activityRequest = [];
	var transSpeed = '{{ transSpeed |default:'400'}}';
	$(function () {
		$("[rel=tooltip]").tooltip({
			live:true
		});

		$("[rel=popover]").popover({
			offset:5,
			live:true
		});





	});
	$(document).ready(function () {

		$(document).on("click", ".modal .close-btn", function () {
			var $this = $(this), $modal = $this.closest(".modal");
			$modal.modal("hide");
		//	$("#settings-modal").modal('hide');
		});



	});




</script>
{% if page['template_js'] %}
<script src='{{ page['template_js'] }}'></script>
{% endif %}


</body>
</html>
